{% block sidebar %}
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right">
        <div class="card my-4">
            <h5 class="card-header">About Me</h5>
            <div class="card-body">
                <p class="card-text">I'm Gustavo and I currently study Computer Science at the University of Birmingham.
                    I made this blog to complete the bridging coursework from 2<sup>nd</sup> to 3<sup>rd</sup> year.</p>
            </div>
        </div>
    </div>
{% endblock sidebar %}